body {
  margin: 0;
  padding: 0;
}
.navbar-fixed {
  position: fixed;
}
.navbar-fixed nav {
  background-color: rgba(228, 104, 76, 0.4);
  i {
    font-size: 3.5em;
    cursor: pointer;
  }
}
.nav-wrapper {
  .brand-logo {
    margin-left: 0.5em;
    font-size: 3em;
    text-shadow: 0 0 10px rgba(18, 18, 18, 0.65);
    color: white;
  }
  a {
    font-size: 1.5em;
  }
}
.dropdown-content {
  position: relative;
  width: 100% !important;
  top: 100% !important;
  left: 0 !important;
  text-align: center;
  a {
    text-align: center;
  }
  li {
    border-bottom: 1px solid black;
    &:last-child {
      border: none;
    }
  }
}
/*=================/
  End OF NAVIGATION
/==================*/
.section-one {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0 -15px 43px -15px rgba(0,0,0,0.74);
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.2);
  }
  .learn-more {
    text-align: center;
    border-radius: 0.5em;
    cursor: pointer;
    z-index: 1000;
    position: relative;
    a {
      color: white;
      font-size: 1.5em;
      text-shadow: 0 0 10px rgba(18, 18, 18, 0.7);
      margin: 0;
    }
    i {
      color: white;
      z-index: 100;
      font-size: 4em !important;
      text-shadow: 0 0 10px rgba(18, 18, 18, 0.7);
    }
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
    h3 {
      color: white;
      text-shadow: 0 0 10px rgba(18, 18, 18, 0.7);
      z-index: 100;
      margin-bottom: 1em;
      border-bottom: 2.5px solid white;
      padding-bottom: 0.5em;
      letter-spacing: 0.1em;
    }
  }
  .collection {
    border: none!important;
    display: flex;
    flex-wrap: wrap;
    .collection-item {
      margin: 0 1.5em !important;
      height: 130px;
      width: 130px;
      border-radius: 90%;
      display: flex!important;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
    }
  }
}
.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  width: 100%;
  color: white;
}
.col-social {
  display: flex;
  justify-content: center;
  align-items: center;
  .social-title {
    display: block;
    width: 100%;
    text-align: center;
  }
}
/*=================/
  End OF SECT ONE
/==================*/
.timeline-img {
  width: 350px;
  height: 350px;
  border: 5px solid rgb(228, 104, 76);
  object-fit: cover;
  object-position: right;
  border-radius: 100%;
  margin: 0 2em;
}
.section-two {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4.5em;
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5em;
    .title {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-shadow {
        position: relative;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        box-shadow: inset 0 0 49px -6px rgba(0,0,0,0.56);
        img {
          width: 500px;
          height: 500px;
          border-radius: 100%;
          object-fit: fill;
          object-position: left;
          display: block;
          z-index: -1;
          position: relative;
        }
      }
      h3 {
        text-align: center;
        border-bottom: 1px solid black;
        margin-bottom: 1em;
        letter-spacing: 0.2em;
        text-align: center;
        padding: 1em 0;
      }
    }
    p {
      width: 75%;
      font-size: 1.2em;
      line-height: 2em;
    }
  }
  .timeline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    .timeline-col {
      text-align: center;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2em;

        p {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
/*=================/
  End of Sect Two
/==================*/
.section-three {
  padding: 5em;
  background-color: rgb(228, 104, 76);
  color: black;
  @extend .section-two;
  *.skill-set {
    @extend .timeline;
    justify-content: center;
  }
}
*.skills-col {
  flex: 1 0 25%;
  text-align: left;
  border-right: 1px solid black;
  padding: 0 5em;
  height: 60vh;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  &:first-child {
    border-left: 1px solid black;
  }
  *.skillbar {
    border-radius: 5em;
    position: relative;
    width: 100%;
    transition: 0.5s ease;
    background-color: rgb(231, 231, 231);
  }
  *.skill-bar {
    border-radius: 5em;
    height: 20px;
    border: 1px solid black;
    background-color: 'rgba(89, 232, 200, 0.95)';
    padding: 0.5em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    @extend .title;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    align-self: flex-start;

    p {
      text-align: center;
    }
  }
}
/*=================/
  End OF SECT THREE
/==================*/
.section-four {
  @extend .section-two;
  padding:0 !important;
  .col {
    @extend .col;
    padding: 0 !important;
    .title{
      h3{
        padding: 1em 0;

      }
    }
    .webpage-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      .webpage {
        flex: 1 0 40%;
        height: auto;
        position: relative;
        a {
          color: white;
        }
        img {
          width: 100%;
        }
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: 0.5s ease;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          background-color: rgba(18, 18, 18, 0.2);
          flex-direction: column;
          transition: .5s ease;
          &:hover{
            background-color: rgba(14, 14, 14, 0.8);
            .overlay-title{
              transform: translateY(-100%);
            }
            .subtitle{
              transform: translateY(-80%);
            }
          }
          .overlay-title{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            text-align: center;
            transition: .5s ease;

            p{
              text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
              font-size: 1.5em;
              width: 25%;
              border-bottom: 1px solid white;

            }
          }
          .subtitle{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: .6s ease;

            p{
              text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
              font-size: 1.3em;

            }
          }
        }
      }
    }
  }
}
/*================/
  END OF SECT FOUR
/================*/

.section-five{
  @extend .section-three;
  .col{
    @extend .col;
    .title{
      h3{
        padding: 1em 0;
      }
    }
    .form{
      input, textarea{
        font-size: 1.5em;
        margin: 2em 0;
        color: black;
      }
      textarea{
        resize: none;
        height: 200px;
      }
    }
    .social-row{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5em;
      width: 100%;
      .social-col{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 50%;
          cursor: pointer;
          &:hover{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            border-radius: 100%;
            border: 2.5px solid rgba(89, 232, 200, 0.95);
            transform: scale(1.1);
            transition: .5s ease;
          }
        }
      }
    }
  }

}

/*================/
    MEDIA QUERIES
/================*/
@media (max-width: 1240px) {
  .section-one {
    .col {
      h3 {
        letter-spacing: none;
        font-size: 2.5em;
      }
    }
  }
  .timeline-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 2px solid rgb(228, 104, 76);
    margin: 0 0.5em;
  }
  .section-two {
    .timeline {
      width: 100%;
      justify-content: space-around;
      .timeline-col {
        text-align: center;
        align-self: center;
        p {
          border-bottom: 1px solid black;
        }
      }
    }
  }
  .col {
    .img-shadow {
      width: 350px !important;
      height: 350px !important;
      img {
        width: 350px !important;
        height: 350px !important;
      }
    }
  }
}
@media (max-width: 1100px) {
  *.skill-set {
    flex-direction: column;
  }
  *.skills-col {
    text-align: left;
    border-right: none;
    height: inherit;
    padding: 3.5em 0;
    width: 100%;
    &:hover {
      transform: scale(1.1);
    }
    &:first-child {
      border-left: none;
    }
    *.skillbar {
      border-radius: 5em;
      position: relative;
      width: 100%;
      transition: 0.5s ease;
      background-color: rgb(231, 231, 231);
    }
    *.skill-bar {
      border-radius: 5em;
      height: 20px;
      border: 1px solid black;
      background-color: 'rgba(89, 232, 200, 0.95)';
      padding: 0.5em;
      font-size: 1.2em;
      justify-content: center;
      align-items: center;
    }
    .title {
      p {
        text-align: center;
      }
    }
  }
}
@media (max-width: 640px) {
  .nav-wrapper {
    .brand-logo {
      font-size: 1.5rem;
    }
    i {
      display: inherit;
      visibility: visible;
      margin-right: 1em !important;
    }
  }
  .section-one {
    .col {
      h3 {
        font-size: 1.5em;
      }
    }
    .collection {
      .collection-item {
        height: 75px;
        width: 75px;
        padding: 1em !important;
        font-size: 1em;
        margin: 0 0.5em !important;
      }
    }
    .learn-more {
      p {
        font-size: 0.8em;
      }
      i {}
    }
  }
  .section-two {
    .section-two {
      .col {
        p {
          width: 75%;
          font-size: 1.2em;
        }
      }
    }
  }
  .section-two {
    .col {
      .title {
        h3 {}
      }
      p {
        width: 90%;
        font-size: 1em;
      }
    }
  }
  .timeline-img {
    width: 350px;
    height: 350px;
    border: none;
    border-radius: 0;
  }
  .timeline-col {
    text-align: center;
    align-self: center;
    p {
      border-bottom: 1px solid black;
    }
  }
  .section-three {
    h3 {
      font-size: 1.3em;
    }
  }
}
@media (max-width: 375px) {
  .section-one {
    .col {
      h3 {
        font-size: 1em;
      }
    }
    .collection {
      .collection-item {
        height: 55px;
        width: 55px;
        padding: 1.2em !important;
        font-size: 0.7em;
      }
    }
    .learn-more {
      p {
        font-size: 1em;
      }
    }
  }
  .section-two {
    .col {
      .img-shadow {
        width: 310px !important;
        height: 310px !important;
        img {
          width: 310px !important;
          height: 310px !important;
        }
      }
    }
  }
  .timeline-img {
    width: 250px;
    height: 250px;
    margin: 0;
  }
}
