body {
  margin: 0;
  padding: 0;
}
.navbar-fixed {
  position: fixed;
}
.navbar-fixed nav {
  background-color: rgba(228, 104, 76, 0.4);
}
.nav-wrapper {
  .brand-logo {
    margin-left: 0.5em;
    font-size: 3em;
    color: white;
  }
  a {
    font-size: 1.2em;
  }
  i {
    font-size: 3.5em;
    cursor: pointer;
  }
}
.dropdown-content {
  position: relative;
  width: 100% !important;
  top: 100% !important;
  left: 0 !important;
  text-align: center;

  a {
    text-align: center;
  }
  li {
    border-bottom: 1px solid black;
    &:last-child {
      border: none;
    }
  }
}
.section-one {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/ocean.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}
.learn-more{
  text-align: center;
  width: 20%;
  border-radius: .5em;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s ease;
    transform: translateY('-100px');

  }
  &:hover:before{
    background-color: rgba(228, 104, 76, 0.4);


  }
  p{
    color:white;
    font-size: 1em;
  }
  i{
    color: white;
    z-index: 100;
    font-size: 3vw !important;
  }
}
.section-one:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.2);
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
  h3 {
    color: white;
    text-shadow: 0 0 10px rgba(18, 18, 18, 0.7);
    z-index: 100;
    margin-bottom: 1em;
    border-bottom: 2.5px solid white;
    padding-bottom: .5em;
  }
}
.collection {
  border: none!important;
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 0 1.5em !important;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flex!important;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
  }
}
/*================/
    MEDIA QUERIES
/================*/
@media (max-width: 640px) {
  .nav-wrapper {
    .brand-logo {
      font-size: 1.5rem;
    }
    i {
      display: inherit;
      visibility: visible;
      margin-right: 1em !important;
    }
  }
  .col {
    h3 {
      font-size: 2em;
    }
  }
  .collection {
    li {
      height: 60px;
      width: 60px;
      font-size: 0.8em;
    }
  }
}
