body {
  margin: 0;
  padding: 0; }

.navbar-fixed {
  position: fixed; }

.navbar-fixed nav {
  background-color: rgba(228, 104, 76, 0.4) !important; }

.brand-logo {
  margin-left: .5em; }

.section-one {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1; }

.section-one:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.2); }

/*================/
    MEDIA QUERIES
/================*/
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
    background-image: none; } }
