<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
    <title>Kemp Development</title>
  </head>

  <body>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo left">Kemp Development</a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#">skills</a>
            </li>
            <li>
              <a href="#">What Do I know?</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
          <i class="material-icons hide-on-large-only right dropdown-button" data-activates='dropdown1'>view_headline</i>
          <ul id='dropdown1' class='dropdown-content right'>
            <li>
              <a href="#about">About</a>
            </li>

            <li>
              <a href="#">skills</a>
            </li>
            <li>
              <a href="#">What Do I know?</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="section-one parallax-container">

      <div class="parallax">
        <img src="../images/ocean.jpg" alt=""/>
      </div>

      <div class="col">
        <h3>Responsive Front-end Development</h3>
        <ul class="collection skills">

          <li class="collection-item">HTML5</li>
          <li class="collection-item">CSS3</li>
          <li class="collection-item">JavaScript</li>
          <li class="collection-item">Jquery</li>

        </ul>
      </div>

      <div class="learn-more">

        <p>
          <a href="#about">
            Learn More
          </a>
        </p>

        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>

    <div class="section-two about section scrollspy" id="about">
      <div class="col about">
        <div class="title">
          <h3>About Me</h3>
        </div>
        <p>
          I am a determined self taught Web Developer from the Bahamas based in London, about eight months ago I decided that Web Development was a path I would like to follow. Throughout these months I began making various projects and attending various
          online courses that would further increase my knowledge and enhance my skillet. After teaching myself I realised that I needed to take another step to further my progression in the industry, so I decided to fly over to London to attend an immersive
          bootcamp where I knew I would face many challenges that would shape me to become a better developer.
          <br>
          <br>
          Here are some things I enjoy to do when I am not in front of the computer:
        </p>

        <div class="timeline">
          <div class="timeline-col">
            <div class="title">
              <p>
                Camping
              </p>
            </div>
            <img src="../images/beach.jpg" alt="" class="timeline-img"/>
          </div>
          <div class="timeline-col">
            <div class="title">
              <p>
                Travelling
              </p>
            </div>
            <img src="../images/travel.jpg" alt=""/>
          </div>
          <div class="timeline-col">
            <div class="title">
              <p>
                Adventure
              </p>
            </div>
            <img src="../images/adventure.jpg" alt=""/>
          </div>
          <div class="timeline-col">
            <div class="title">
              <p>
                Exploration
              </p>
            </div>
            <img src="../images/explore.jpg" alt=""/>
          </div>
          <div class="timeline-col">
            <div class="title">
              <p>
                Photography
              </p>
            </div>
            <img src="../images/photography.jpg" alt=""/>
          </div>
        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/js/main.js" charset="utf-8"></script>
  </body>

</html>
